{% extends "base.html" %} {% block content %}

<div>
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag()}}
    <fieldset>
      <legend>Add Project</legend>
      <div>{{ form.title.label}} {{ form.title}}</div>
      <div>{{ form.description.label}} {{ form.description(rows="5")}}</div>
      <div>{{form.funding_goal.label}} {{form.funding_goal}}</div>
      <div>{{ form.image.label}} {{ form.image}}</div>
    </fieldset>
    <div>{{form.submit }}</div>
  </form>
</div>

<h1>projects</h1>
<br />{%for project in projects%}
<a href="{{url_for('update_project', id=project.id)}}"> {{project.title}}<br /> </a>
{%endfor%} {% endblock content%}