{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/add_news.css') }}"
/>
{% endblock %} {% block content %}
<div class="form-container">
  <h1>Add News</h1>
  <form action="/add_news" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
      <label>{{ form.name.label }}</label>
      {{ form.name(class="form-control", placeholder="Enter news title") }}
    </div>

    <div class="form-group">
      <label>{{ form.img.label }}</label>
      {{ form.img(class="form-control") }}
    </div>

    <div class="form-group">
      <label>{{ form.description.label }}</label>
      {{ form.description(class="form-control", rows="5", placeholder="Enter
      description") }}
    </div>

    <div>{{ form.submit(class="btn-submit") }}</div>
  </form>

  <a href="{{ url_for('all_news') }}" class="back-link">Back to News</a>
</div>
{% endblock %}
