<!doctype html>

<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Komarovi Connect</title>
    <link rel="stylesheet" href="../static/css/fonts.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <div class="headerbox">
      <div class="header">
        <div class="left-section">
          <a href="/home"
            ><img src="../static/images/k_logo3-2.png" class="logo" alt="Logo"
          /></a>
        </div>

        <div class="center-section">
          <a
            href="/home"
            class="{{ 'active' if current_page == 'home' else '' }}"
            >მთავარი</a
          >
          <a
            href="/news"
            class="{{ 'active' if current_page == 'news' else '' }}"
            >სიახლეები</a
          >
          <a
            href="/events"
            class="{{ 'active' if current_page == 'events' else '' }}"
            >ღონისძიებები</a
          >
          <a
            href="/projects"
            class="{{ 'active' if current_page == 'projects' else '' }}"
            >პროექტები</a
          >
        </div>
        <div class="right-section">
          <button>დონაცია</button>
        </div>
      </div>
    </div>
    {% block content %} {% endblock%}
  </body>
</html>
