{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/events.css') }}"
/>
{% endblock %} {% block content %}

<h1>events</h1>
{%for event in events%}
<div class="event">
  {{event.title}}<br />
  {{event.description}}<br />
  <a href="{{event.registration_link}}">Register</a><br />
  {{event.date_added}}<br />
  {% if event.image %}
  <img
    src="{{ url_for('static', filename='uploads/' + event.image) }}"
    alt="{{ event.title }}"
  />
  {% else %}
  <p>No image available</p>
  {% endif %}<br />

  <a href="{{url_for('event', id=event.id)}}">View Post</a>
</div>

{%endfor%} {% endblock content%}
