{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/events.css') }}"
/>
{% endblock %} {% block content %}

<h1>events</h1>
<div class="event">
  {{event.title}}<br />
  {{event.description}}<br />
  {{event.registration_link}}<br />
  {{event.date_added}}<br />
  {% if event.image %}
  <img
    src="{{ url_for('static', filename='uploads/' + event.image) }}"
    alt="{{ event.title }}"
  />
  {% else %}
  <p>No image available</p>
  {% endif %}<br />
</div>
{% endblock content%}
