{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/projects.css') }}"
/>
{% endblock %} {% block content %}

<h1>projects</h1>
<div class="project">
  {{project.title}}<br />
  {{project.description}}<br />
  {{project.funding_goal}}<br />
  {{project.current_amount}}<br />
  {{project.date_added}}<br />
  {% if project.image %}
  <img
    src="{{ url_for('static', filename='uploads/' + project.image) }}"
    alt="{{ project.title }}"
  />
  {% else %}
  <p>No image available</p>
  {% endif %}<br />

  <!-- Progress Bar -->
  <div class="progress-container">
    <div class="progress-bar progress-{{ project.id }}">
      {% set progress_percent = (project.current_amount / project.funding_goal * 100)|round(1) if project.funding_goal > 0 else 0 %}
      {{ progress_percent }}%
    </div>
  </div>

  <!-- Donate Button - Links to separate donation route -->
  <a href="{{url_for('donate', id=project.id)}}" class="donate-button">Donate to this Project</a>
</div>
{% endblock content%}