{% extends "base.html" %} {% block content %}

<form method="POST" action="" enctype="multipart/form-data">
  {{ form.hidden_tag()}}
  <fieldset>
    <legend>Update Event</legend>
    <div>{{ form.title.label}} {{ form.title}}</div>
    <div>{{ form.description.label}} {{ form.description}}</div>
    <div>{{form.registration_link.label}} {{form.registration_link}}</div>
    <div>{{ form.image.label}} {{ form.image}}</div>
    <a href="{{url_for('delete_event', id=event.id)}}">Delete</a>
  </fieldset>
  <div>{{form.submit }}</div>
</form>

{% endblock content%}
